*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: "微软雅黑";
    width: 100%;
    display: flex;
    flex-direction: column;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
img{
    display: inline-block;
}
    /*头部公共部分*/
    .header{
        height: 120px;
        background: url(../images/header_bg.jpg) repeat-x;
    }
    .header .header_top{
        height: 30px;
        width:1040px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
    }
    .header_top_left .zhuce a,.header_top a:hover{
        color: red;
    }
    .header_top_left,.header_top_right{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    .header_top_left li,.header_top_right li{
        margin: 0 20px;
    }
    .header_top_right{
        position: relative;
    }
    .header_top_right .er{
        display: none;
        position: absolute;
        top:30px;
    }
    .header_bottom{
        width: 1040px;
        margin: 0 auto;
        padding-top: 25px;
    }
    .header_bottom a{
        display: block;
        height: 40px;
        width: 200px;
        float: left;
    }
    .header_bottom .lo{
        margin: 10px 30px ;
        font-size: 20px;
        color: gray;
        display: block;
        float: left;
    }
    /*nav公共部分*/
    .nav{
        height: 45px;
        background: black;
    }
    .nav_c{
        width: 1040px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .nav_left{
        width:650px;
        line-height: 45px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .nav_right{
        width:120px;
        line-height: 45px;
        display: flex;
        justify-content: space-between;
    }
    .nav_c li a{
        color: white;
    }
    .nav_c li a:hover{
        color: red;
    }
    /*返回顶部公共部分*/
    .returnTop{
        width: 100px;
        height: 290px;
        background: white;
        position: absolute;
        top:400px;
        z-index: 999;
        right:80px;
        text-align: center;
        border:1px gray solid;
    }
    .returnTop .top{
        height: 50px;
        color:white;
        background: black;
        text-align: center;
    }
    .returnTop .top span{
        color: red;
        font-weight: bold;
    }
    .clickOn{
        display: none;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-top:1px gray solid;
    }
    /*底部公共部分*/
    .footer_advantage{
        height:235px;
        background:#f2f2f2;
    }
    .footer_advantage_u{
        width:1040px;
        height:100px;
        margin:0 auto;
        display: flex;
        justify-content: space-around;
    }
    .footer_advantage_u li{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer_advantage_u .iconfont{
        font-size: 50px;
    }
    .footer_advantage_u li:hover,.footer_link a:hover{
        color:red;
    }
    .footer_link{
        width:660px;
        margin: 10px auto;
    }
    .footer_link a{
        margin: 0 10px;
    }
    .footer_copyright{
        width:600px;
        margin: 10px auto;
    }
    .footer_license{
        width:40px;
        margin: 0 auto;
    }
    //图片公共样式
    .imp{
        width:320px;
        height:232px;
        position: relative;
    }
    .img-t{
        width:320px;
        height:192px;
        position: relative;
        overflow: hidden;
    }
    .img-m{
        position: absolute;
    }
    .img-zhe{
        width:320px;
        height:192px;
        background: gray;
        opacity: .4;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }
    .img-zi{
        width:320px;
        height:192px;
        text-align: center;
        line-height: 192px;
        color:white;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }
    .img-b{
        width: 320px;
        height:40px;
        line-height: 40px;
        background: #eee;
        display: flex;
        justify-content: space-between;
    }
    .b_l{
        width:200px;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .b_r{
        width:100px;
        margin-right: 10px;
        text-align: right;
    }